@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Global statistics";
}

<div class="text-center">
    <h1 class="display-5">Total Coronavirus Cases: @Model.GlobalStat.Cases</h1>
    <h1 class="display-5">Total Deaths: @Model.GlobalStat.Deaths</h1>

    <div class="table-responsive">
        <input class="form-control" type="text" placeholder="Search" id="search-text" onkeyup="tableSearch()">
        <table class="table table-striped recipe table-hover table_sort" id="info-table">
            <thead>
                <tr>
                    <th class="th-sm">Country</th>
                    <th class="th-sm">Confirmed</th>
                    <th class="th-sm">Deaths</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var countryStat in Model.CountriesSummary)
                {
                    <tr>
                        <td class="align-middle"><a asp-page="Сountries/Index" asp-route-country="@countryStat.Country">@countryStat.Country</a></td>
                        <td class="align-middle">@countryStat.Cases</td>
                        <td class="align-middle">@countryStat.Deaths</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/table.js"></script>
