@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Global statistics";
}

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="text-center">
    <h1 class="display-5">Total Coronavirus Cases: @Model.GlobalStat.Cases</h1>
    <h1 class="display-5">Total Deaths: @Model.GlobalStat.Deaths</h1> 
</div>

<div class="table-responsive">
    <input class="form-control col-3 mt-4 mb-2  " type="text" placeholder="Search" id="search-text" onkeyup="tableSearch()">
    <table class="table table-striped recipe table-hover table_sort" id="info-table">
        <thead>
            <tr>
                <th class="th-sm">Country</th>
                <th class="th-sm">Confirmed</th>
                <th class="th-sm">Deaths</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var countryStat in Model.CountriesSummary)
            {
                <tr>
                    <td class="align-middle"><a asp-page="Сountries/Index" asp-route-country="@countryStat.Country">@countryStat.Country</a></td>
                    <td class="align-middle">@countryStat.Cases</td>
                    <td class="align-middle">@countryStat.Deaths</td>
                </tr>

            }
        </tbody>
    </table>
</div>

<script>
    const labels =
        @Json.Serialize(Model.GlobalStat.getDates())


    const data = {
        labels: labels,
        datasets: [{
            label: 'COVID-19 Cases',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: @Json.Serialize(Model.GlobalStat.getCases()),
        }]
    };

        const config = {
        type: 'line',
        data: data,
        options: {}
    };
</script>

<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>


<script src="~/js/table.js"></script>

