@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Global statistics"; }

<div class="text-center">
    <h1 class="display-5">Total Coronavirus Cases: @Model.GlobalStat.Cases</h1>
    <h1 class="display-5">Total Deaths: @Model.GlobalStat.Deaths</h1>
</div>
<div>
    <canvas id="casesChart"></canvas>
</div>

<div>
    <canvas id="deathsChart"></canvas>
</div>

<div class="table-responsive">
    <input class="form-control col-3 mt-4 mb-2  " type="text" placeholder="Search" id="search-text" onkeyup="tableSearch()">
    <table class="table table-striped recipe table-hover table_sort" id="info-table">
        <thead>
            <tr>
                <th class="th-sm">Country</th>
                <th class="th-sm">Confirmed</th>
                <th class="th-sm">Deaths</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var countryStat in Model.CountriesSummary)
            {
                <tr>
                    <td class="align-middle"><a asp-page="Сountries/Index" asp-route-country="@countryStat.Country">@countryStat.Country</a></td>
                    <td class="align-middle">@countryStat.Cases</td>
                    <td class="align-middle">@countryStat.Deaths</td>
                </tr>

            }
        </tbody>
    </table>
</div>

<script>
    let labels = @Json.Serialize(Model.GlobalStat.DataPoints.GetDates());
    let data = @Json.Serialize(Model.GlobalStat.DataPoints.GetCases());
    let name = 'casesChart';
    BuildBarChart(labels, data, name, "Cases Chart");

    data = @Json.Serialize(Model.GlobalStat.DataPoints.GetDeaths());
    name = 'deathsChart';
    BuildBarChart(labels, data, name, "Deaths Chart");

</script>

<script src="~/js/table.js"></script>

