@page "{country}"
@model Covid19.Stats.Pages.Сountries.IndexModel
@{
    ViewData["Title"] = $"{Model.CountrySummary.Country} COVID-19";
}

<div class="text-center">
    <h1 class="display-5">Country: @Model.CountrySummary.Country</h1>
    <h1 class="display-5">Total Coronavirus Cases: @Model.CountrySummary.Cases</h1>
    <h1 class="display-5">Total Deaths: @Model.CountrySummary.Deaths</h1>
</div>

<div>
    <canvas id="casesChart"></canvas>
</div>

<div>
    <canvas id="deathsChart"></canvas>
</div>

<script>
    let labels = @Json.Serialize(Model.CountrySummary.DataPoints.GetDates());
    let data = @Json.Serialize(Model.CountrySummary.DataPoints.GetCases());
    let name = 'casesChart';
    BuildBarChart(labels, data, name, "Cases Chart");

    data = @Json.Serialize(Model.CountrySummary.DataPoints.GetDeaths());
    name = 'deathsChart';
    BuildBarChart(labels, data, name, "Deaths Chart");
</script>