@page "{country}/{region}"
@model Covid19.Stats.Pages.Сountries.RegionModel
@{
}
<div class="container">
    <div class="text-center">
        <h2 class="display-5">Country: @Model.RegionStat.Country</h2>
        <h2 class="display-5">Region: @Model.RegionStat.Region</h2>
        <h2 class="display-5">Total Cases: @Model.RegionStat.Cases + @Model.RegionStat.CasesDelta</h2>
        <h2 class="display-5">Total Deaths: @Model.RegionStat.Deaths + @Model.RegionStat.DeathsDelta</h2>
        <p class="text-muted">Last Update: @Model.RegionStat.LastUpdate</p>
    </div>
    <partial name="_Charts" />
</div>


<partial name="_ChartsInit" model="Model.RegionStat.DataPoints" />

@section Scripts{
    <script>
        var TimeInterval = 'Monthly';
        var Type = 'Cases';
        function ChangeChartType(type) {
            var ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'none';
            Type = type;
            ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'block';
        }
        function ChangeChartInterval(interval) {
            var ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'none';
            TimeInterval = interval;
            ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'block';
        }
    </script>

}